[submodule "3rdParty/rapidjson"]
	shallow = true
	path = 3rdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdParty/fmt"]
	shallow = true
	path = 3rdParty/fmt
	url = https://github.com/XZiar/fmt.git
[submodule "3rdParty/digestpp"]
	shallow = true
	path = 3rdParty/digestpp
	url = https://github.com/kerukuro/digestpp.git
[submodule "3rdParty/gtest"]
	shallow = true
	path = 3rdParty/gtest
	url = https://github.com/google/googletest.git
[submodule "3rdParty/libcpuid"]
	shallow = true
	path = 3rdParty/libcpuid
	url = https://github.com/anrieff/libcpuid.git
[submodule "3rdParty/zlib-ng"]
	shallow = true
	path = 3rdParty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	branch = stable
[submodule "3rdParty/GSL"]
	shallow = true
	path = 3rdParty/GSL
	url = https://github.com/microsoft/GSL.git
