[submodule "3rdParty/rapidjson"]
	shallow = true
	fetchRecurseSubmodules = false
	path = 3rdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdParty/fmt"]
	shallow = true
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdParty/digestpp"]
	shallow = true
	path = 3rdParty/digestpp
	url = https://github.com/kerukuro/digestpp.git
[submodule "3rdParty/libcpuid"]
	shallow = true
	path = 3rdParty/libcpuid
	url = https://github.com/anrieff/libcpuid.git
[submodule "3rdParty/zlib-ng"]
	shallow = true
	path = 3rdParty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	branch = stable
[submodule "3rdParty/GSL"]
	shallow = true
	path = 3rdParty/MS-GSL
	url = https://github.com/microsoft/GSL.git
[submodule "3rdParty/stb"]
	shallow = true
	path = 3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdParty/libpng"]
	shallow = true
	path = 3rdParty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "3rdParty/uchardet"]
	shallow = true
	path = 3rdParty/uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet.git
[submodule "3rdParty/ghc_filesystem"]
	shallow = true
	path = 3rdParty/ghc_filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "3rdParty/googletest"]
	shallow = true
	path = 3rdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdParty/libjpeg-turbo"]
	shallow = true
	path = 3rdParty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "3rdParty/OpenCL-Headers"]
	shallow = true
	path = 3rdParty/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "3rdParty/OpenCL-ICD-Loader"]
	shallow = true
	path = 3rdParty/OpenCL-ICD-Loader
	url = https://github.com/XZiar/OpenCL-ICD-Loader.git
[submodule "3rdParty/OpenGL-Headers"]
	shallow = true
	path = 3rdParty/OpenGL-Headers
	url = https://github.com/XZiar/OpenGL-Headers.git
[submodule "3rdParty/FreeType"]
	shallow = true
	path = 3rdParty/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "3rdParty/boost.context"]
	shallow = true
	path = 3rdParty/boost.context
	url = https://github.com/boostorg/context.git
[submodule "3rdParty/EGL-Headers"]
	shallow = true
	path = 3rdParty/EGL-Headers
	url = https://github.com/XZiar/EGL-Headers.git
[submodule "3rdParty/angle-Headers"]
	shallow = true
	path = 3rdParty/angle-Headers
	url = https://github.com/XZiar/angle-Headers.git
[submodule "3rdParty/ISPCTextureCompressor"]
	shallow = true
	path = 3rdParty/ISPCTextureCompressor
	url = https://github.com/GameTechDev/ISPCTextureCompressor.git
[submodule "3rdParty/date"]
	shallow = true
	path = 3rdParty/date
	url = https://github.com/XZiar/date.git
[submodule "3rdParty/tzdata"]
	path = 3rdParty/tzdata
	url = https://github.com/eggert/tz.git
