[submodule "3rdParty/rapidjson"]
	shallow = true
	path = 3rdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdParty/fmt"]
	shallow = true
	path = 3rdParty/fmt
	url = https://github.com/XZiar/fmt.git
[submodule "3rdParty/digestpp"]
	shallow = true
	path = 3rdParty/digestpp
	url = https://github.com/kerukuro/digestpp.git
